version: 2.1

orbs:
  docker: circleci/docker@1.5.0

jobs:
  test:
    executor: docker/machine
    working_directory: ~/repo
    steps:
      - run:
          command: docker-compose -f docker-compose.circleci.yml up -d
          name: Start
      - run:
          command: |
              docker-compose -f docker-compose.circleci.yml exec gunicorn ./manage.py test \
                symlinker
          name: Test

workflows:
  test:
    jobs:
      - test
